{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Lections
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'courses/css/lections.css' %}">
{% endblock head %}

{% block body %}

    <div class="content">
        <div class="course">
            <img src="{% static 'courses/media/img.jpg' %}" alt="">
            <div>
                <h1>Titile</h1>
                <p>description</p>
            </div>
        </div>
        <div class="lections-list">

            {% for lection in lections %}
                <div class="lection">
                    <video src="{{ lection.video.url }}" controls></video>
                    <div>
                        <h3>{{lection.title}}</h3>
                        <p>{{lection.text}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock body %}
