{% extends 'base.html' %}


{% block title %}
Миры А.Васильева
{% endblock title %}


{% block content_block %}
<div class="home">
    <p>А ты помнишь, как Киф в первый раз залез в капсулу? Или как Сват осознал себя в Ковчеге? Может, отдел 15-К и Николай Нифонтов тебе о чем-то напоминают? Или твое первое воспоминание связано с подростком, прячущемся в старом сарае? </p>
    <p>Если ты уже знаком с творчеством Андрея Васильева, то прекрасно представляешь как  иногда хочется перечитать его книги, а ещё лучше найти единомышленника и обсудить с ним свои впечатления и переживания. </p>
    <p>Сегодня, у нас появилась такая возможность. Давайте вспоминать самые захватывающие моменты, строить предположения о судьбе любимых героев и их тайнах, находить новых друзей или просто общаться в хорошей компании.</p>
    <p>Если ты случайный гость здесь,но любишь хорошие книги, то у тебя впереди может быть много незабываемых моментов, если решишься ознакомиться с творчеством автора. </p>
    <p>В любом случае, добро пожаловать!</p>
</div>
{% endblock content_block %}