<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Posts</title>
    </head>
    <body>
        <div>
            {% for post in posts %}
                <a href="{% url 'post' post.id %}">
                    <h1>{{ post.title|capfirst }}</h1>
                </a>
                <h3>{{ post.subtitle }}</h3>
                {% if post.image %}
                    <img src="{{ post.image.url }}">
                {% endif %}
                <p>by {{ post.author.name }}</p>
            {% endfor %}
        </div>
    </body>
</html>