<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Post</title>
    </head>
    <body>
        <div>
            <a href="{% url 'post' post.id %}">
                <h1>{{ post.title|capfirst }}</h1>
            </a>
            <h3>{{ post.subtitle }}</h3>
            {% if post.image %}
                    <img src="{{ post.image.url }}">
                {% endif %}
            <p>{{ post.content|capfirst }}</p>
            <p>by {{ post.author.name }}</p>
        </div>
    </body>
</html>