{% extends 'catalog/base.html' %}
{% load static %}
{% block title %} znachodka {%endblock title %}
{% block content %}
<style type="text/css">
    .hero.is-fullheight-with-navbar {
        background: url({% static "catalog/images/hero-1.jpg" %}) center / cover;
    }
</style>
<div class="column is-half is-offset-one-quarter">
    <div class="conent is-small has-text-centered">
        <h1 class="title is-5">Who we are?</h1>
        <p class="is-size-6">When an honest individual finds and reports a lost item, it can really make your day.</p>
    </div>
</div>
<form action="{% url 'search_results' %}" class="py-2" method="get">
    <div class="field is-grouped is-grouped-multiline is-grouped-centered">
        <div class="control m-2">
            <a class="button is-primary" href="add_item">
                I'd like add something
            </a>
        </div>
        <div class="field has-addons m-2">
            <div class="control has-icons-left">
                <input class="input" type="text" name="q" placeholder="Find it" />
                <span class="icon is-left">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary"> Search </button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
