{% extends "Base.html" %}
{% load static %}
 
{% block title %}
 О нас
{% endblock %}

{% block content %} 



         <div class ="about">  <h1>Добро пожаловать в профессиональное СТО</h1>
         <div>
         <p>Stage 66 ─ эксперты в сфере автосервиса. Профессионалы, работающие в наших СТО, осуществляют ремонт и обслуживание любых компонентов автомобилей. Благодаря тесному деловому сотрудничеству с компанией Bosch, ведущим поставщиком оригинального оборудования для автомобилей, в нашем распоряжении всегда находятся самые последние технологические разработки, способные удовлетворить любые потребности Вашего авто.</p>
          <p>Непревзойденное качество нашего сервиса может быть определено как совокупность первоклассных продуктов, профессиональных услуг и удовлетворенности ожиданий клиента. Регулярно проводимые проверки качества гарантируют соответствие всем действующим стандартам и процедурам.</p>
          <p>В нашем распоряжении– самые последние методы испытаний и цифровые информационные системы. Наличие данной комбинации гарантирует системный подход к диагностике автомобиля и квалифицированное выполнение ремонтных работ.</p>    
             </div>
          </div>
{% endblock content %}    
        
          
