{% extends "Base.html" %}
{% load static %}

{% block title %}
Главная
{% endblock %}
{% block content %}

<div><h1 class="tagline"> Stage 66 - Современные технологии ремонта автомобилей</h1>
    <span class="text"> СТО Stage 66 - Оказывает полный спектр услуг и лучшие условия по ремонту автомобилей в Гродно без выходных и очередей. Оперативно решим любую проблему. Запчасти в наличии и под заказ. Справедливые цены, скидки постоянным клиентам, гарантия на работы. БЕСПЛАТНО заберем ваше авто и доставим обратно!  </span>
    </div> 
{% endblock content %}