{% extends "Base.html" %}
{% load static %}
 
{% block title %}
Услуги
{% endblock %}

{% block content %} 
         <div class ="services_global">
           <h1>Мы предоставляем:</h1>
            <ul type="circle">
             <li>Cезонное ТО</li>
             <li>Замена ГРМ</li>
             <li>Компьютерная диагностика</li>
             <li>Трансмиссия и ходовая часть </li>
             <li>Рулевое управление</li>
             <li>Тормозная система</li>
             <li>Электрооборудование</li>
             <li>Развал/схождение</li>
             <li>Шиномонтаж</li>
           
    </ul>
        </div>
{% endblock content %}     
            
