{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'courses/css/form.css' %}">
{% endblock head %}

{% block content %}
    <div class="form-center">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}">
            <h1>Please sign in</h1>
        
            <div class="form-floating">
              <p>{{ form.username.label_tag }}</p>
              <p>{{ form.username }}</p>
            </div>
            <div class="form-floating">
              <p>{{ form.password.label_tag }}</p>
              <p>{{ form.password }}</p>
            </div>
        
            <button type="submit">Sign in</button>
          </form>
    </div>
{% endblock content %}